.ahorros {
  --bg-color: #7296c9;
  --bg-color-light: #baccff;
  --text-color-hover: white;
  --box-shadow-color: #6186ff7a;
}

.deudas {
  --bg-color: #cf3427;
  --bg-color-light: #fce2e3;
  --text-color-hover: white;
  --box-shadow-color: #cf352757;
}

.cards {
  overflow: hidden;
  position: relative;
  box-shadow:
    0
    14px
    26px
    rgba(0, 0, 0, 0.04)
  ;
  transition:
    all
    .3s
    ease-out
  ;

  &:hover {
    transform:
      translateY(-5px)
      scale(1.005)
      translateZ(0)
    ;
    box-shadow:
      0
      24px
      36px
      rgba(0, 0, 0, 0.11),
      0
      24px
      46px
      var(--box-shadow-color)
    ;
  }

  &:hover .overlay {
    transform:
      scale(8)
      translateZ(0)
    ;
  }

  &:hover .circle {
    color: #ccc;
    background: var(--bg-color);
    border-color: var(--bg-color-light);
  }

  &:hover .circle:after {
    background: var(--bg-color-light);
  }

  &:hover p {
    color: var(--text-color-hover);
  }

  & p {
    color: #4C5656;
    z-index: 10;
    font-size: 17px;
    margin-top: 0px;
    transition:
      color
      .3s
      ease-out
    ;
  }
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  border-radius: .375rem;
  justify-content: center;
  background-color: #2b4466;

  & i {
    color: white;
    align-items: center;
    border-radius: 12px;
  }
}

.user-details {
  text-align: left;

  & h2 {
    color: #333;
    margin: 0;
    font-size: 16px;
  }

  & p {
    color: #777;
    margin: 0;
    font-size: 16px;
  }
}

.circle {
  width: 131px;
  height: 131px;
  border:
    2px
    solid
    var(--bg-color)
  ;
  z-index: 1;
  display: flex;
  position: relative;
  background: #fff;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition:
    all
    .3s
    ease-out
  ;

  &:after {
    top: 5px;
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    transition:
      opacity
      .3s
      ease-out
    ;
  }
  
  & i {
    color: white;
    z-index: 10;
    transform: translateZ(0);
  }
}

.overlay {
  top: 35px;
  left: 20px;
  width: 118px;
  height: 118px;
  position: absolute;
  background: var(--bg-color);
  border-radius: 9999px;
  transition:
    transform
    .3s
    ease-out
  ;
}

.green-color {
  background-color: #cdf7cd !important;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-up {
  animation:
    fade-up
    .5s
  ;
}

.btn-group {
  float: left;
  padding: 10px;
}

.dataTables_length {
  float: left;
  margin-top: 12px;
}

.figure-card {
  display: none;
}

div.dataTables_filter > label {
  color: white;
  padding: 3px;
  border-radius: 6px;
  background-color: #2b4466;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  line-height: 24px;
  background-color: #2b4466 !important;
}

.nav-link {
  color: black !important;
}

.active {
  color: white !important;
}

#tablaAhorros_filter {
  float: right;
  margin-top: 12px;
  margin-right: 12px;
}

#tablaDeudas_filter {
  float: right;
  margin-top: 12px;
  margin-right: 12px;
}

th:nth-child(4) {
text-align: end;
}

td:nth-child(3) {
  font-weight: bold;
}

td:nth-child(4) {
  text-align: right;
}