::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 12px;
}



.ahorros {
  --bg-color: #7296c9;
  --bg-color-light: #baccff;
  --text-color-hover: white;
  --box-shadow-color: #6186ff7a;
}

.deudas {
  --bg-color: #ce000c;
  --bg-color-light: #fce2e3;
  --text-color-hover: white;
  --box-shadow-color: #f9b8b87a;
}

.cards {
  overflow: hidden;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  
    &:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0,0,0,0.11),
        0 24px 46px var(--box-shadow-color);
    }
    
    &:hover .overlay {
      transform: scale(4) translateZ(0);
    }
    
    &:hover .circle {
      border-color: var(--bg-color-light);
      background: var(--bg-color);
    }
    
    &:hover .circle:after {
      background: var(--bg-color-light);
    }
    
    &:hover p {
      color: var(--text-color-hover);
    }
    
    & p {
      font-size: 17px;
      color: #4C5656;
      margin-top: 0px;
      z-index: 1000;
      transition: color 0.3s ease-out;
    }
}


.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 5px;
  transition: opacity 0.3s ease-out;
}

.circle i {
  z-index: 10000;
  transform: translateZ(0);
  color: white;
}

.overlay {
  width: 118px;
  position: absolute; 
  height: 118px;
  border-radius: 9999px;
  background: var(--bg-color);
  top: 35px;
  left: 20px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fade-in-up {
    animation: fade-up .5s;
}

.dataTables_sizing {
    display: none;
}

.btn-group {
    float: left;
    padding: 10px;
}

.dataTables_length {
    float: left;
    margin-top: 12px;
}

.figure-card {
    display: none;
}

div.dataTables_filter > label {
    background-color: #3773fe;
    border-radius: 6px;
    color: white;
    padding: 3px;
}

.green-color {
    background-color: #b5ffb5 !important;
}

#tablaAhorros_filter {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

#tablaDeudas_filter {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

td:nth-child(2) {
    text-align: start;
}

td:nth-child(3) {
    text-align: start;
}

td:nth-child(4) {
    text-align: right;
}

td:nth-child(5) {
    text-align: center;
}

@media (max-width: 406px) {
    .figure-card {
        display: block;
    }

    tfoot {
        display: none;
    }
}