@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fade-in-up {
    animation: fade-up .5s;
}

.btn-group {
    float: left;
    padding: 10px;
}

.dataTables_length {
    float: left;
    margin-top: 12px;
}

.figure-card {
    display: none;
}

#tablaAhorros_filter {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

#tablaDeudas_filter {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

td:nth-child(4) {
    text-align: right;
}

/* @media (max-width: 650px) {
    .figure-card {
        display: block;
    }

    th {
        display: none;
    }

    td {
        display: grid;
        gap: .5rem;
        grid-template-columns: 15ch auto;
        padding: .5rem 1rem;
        text-align: right;

        &:first-child {
            padding-top: 2rem;
        }

        &:last-child {
            padding-bottom: 2rem;
        }

        &:nth-of-type(1)::before {
            border-radius: 6px;
            margin: 8px 5px;
            height: 30px;
            text-align: center;
        }

        &:nth-of-type(2)::before {
            content: "Periodo: ";
            border-radius: 6px;
            margin: 8px 5px;
            height: 30px;
            text-align: center;
        }

        &:nth-of-type(3)::before {
            content: "Descripción: ";
            border-radius: 6px;
            margin: 8px 5px;
            height: 30px;
            text-align: center;
        }

        &:nth-of-type(4)::before {
            content: "Valor: ";
            border-radius: 6px;
            margin: 8px 5px;
            height: 30px;
            text-align: center;
        }

        &:nth-of-type(5)::before {
            content: "Afectacción: ";
            border-radius: 6px;
            margin: 8px 5px;
            height: 30px;
            text-align: center;
        }
    }
} */