@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateX(-30px) scale(.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.fade-in-up {
    animation: fade-up .5s;
}

.btn-group {
    float: left;
    padding: 10px;
}

.dataTables_length {
    float: left;
    margin-top: 12px;
}

#tablaAhorros_filter {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

#tablaDeudas_filter {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}