::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #3773fe;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #164f88;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ahorros {
    --bg-color: #6179ff;
    --bg-color-light: #bac4ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: #6179ff7a;
  }
  
  .deudas {
    --bg-color: #fc8989;
    --bg-color-light: #f0a6a6;
    --text-color-hover: #4C5656;
    --box-shadow-color: #ff94947a;
  }
  
  .cards {
    width: 220px;
    height: 321px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    border: 2px solid var(--bg-color-light);
    margin: 16px;
    
    &:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0,0,0,0.11),
        0 24px 46px var(--box-shadow-color);
    }
  
    &:hover .overlay {
      transform: scale(4) translateZ(0);
    }
    &:hover .circle {
      border-color: var(--bg-color-light);
      background: var(--bg-color);
      color: #ccc;
    }
  
    &:hover .circle::after {
      background: var(--bg-color-light);
    }
    
    &:hover p {
      color: white;
    }
  
    &:active {
      transform: scale(1) translateZ(0);
      box-shadow: 0 15px 24px rgba(0,0,0,0.11),
        0 15px 24px var(--box-shadow-color);
    }
  
    & p {
      font-size: 17px;
      color: #4C5656;
      margin-top: 30px;
      z-index: 1000;
      transition: color 0.3s ease-out;
    }
  }
  
  .circle {
    width: 131px;
    height: 40%;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  
    &:after {
      content: "";
      width: 114px;
      height: 110px;
      display: block;
      position: absolute;
      background: var(--bg-color);
      border-radius: 50%;
      top: 7px;
      left: 7px;
      transition: opacity 0.3s ease-out;
    }
  
    & .fa-solid {
      z-index: 10000;
      transform: translateZ(0);
      color: white;
    }
  }
  
  .overlay {
    width: 118px;
    position: absolute; 
    height: 128px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 7.1%;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }

.fade-in-up {
    animation: fade-up .5s;
}

.dataTables_sizing {
    display: none;
}

.btn-group {
    float: left;
    padding: 10px;
}

.dataTables_length {
    float: left;
    margin-top: 12px;
}

.figure-card {
    display: none;
}

div.dataTables_filter > label {
    background-color: #3773fe;
    border-radius: 6px;
    color: white;
    padding: 3px;
}

.green-color {
    background-color: #b5ffb5 !important;
}

#tablaAhorros_filter {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

#tablaDeudas_filter {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    text-align: center;
}

td:nth-child(4) {
    text-align: right;
}

td:nth-child(5) {
    text-align: end;
}

@media (max-width: 411px) {
    .figure-cards {
        display: block;
    }

    tfoot {
        display: none;
    }
}